{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"id-length": [2, { "max": 22, "min": 1, "properties": "never" }],
		"no-magic-numbers": 0,
		"symbol-description": 0
	},

	"overrides": [
		{
			"files": "test/**",
			"rules": {
				"consistent-return": 1,
				"no-invalid-this": 0,
			},
		},
	],
}
